@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    position: fixed;
    background-color: #1f242d;
    left: 0;
    right: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-navbar 1.5s linear 1.5s forwards;
}

@keyframes show-navbar {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

nav .logo {
    font-size: 30px;
    font-weight: 700;

}

nav ul {
    display: flex ;
}

nav ul li {
    list-style: none;
    margin-left: 35px;
}

nav ul li a {
    font-size: 20px;
    font-weight: 200;
    transition: .5s;
}

nav ul li a:hover, .navbar ul li a.active {
    color: #a168db;
}

#menu-icon {
    font-size: 4rem;
    color: #fff;
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 50px;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-navbar 1.2s linear 1.9s forwards;
}

.hero-left h1 {
    font-size: 55px;
}

.hero-left h2 {
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
}

.hero-left h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #a168db;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

.hero-left h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #a168db;
    color: #a168db;
    white-space: nowrap;
    overflow: hidden;
    animation: text-fill 4s linear infinite;
}

@keyframes text-fill {
    10%, 100% {
        width: 0;

    }

    70%, 90% {
        width: 100%;

    }
}

@keyframes display-text {
    25%,100% {
        display: none;

    }
}

.hero-left p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.btn-hero {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: #a168db;
    border: 2px solid #a168db;
    border-radius: 40px;
    box-shadow: 0 0 5px #a168db;
    font-size: 16px;
    font-weight: 600;
    color: #1f242d;
    transition: .5;
}

.btn:hover {
    background-color: transparent;
    box-shadow: none;
    color: #a168db;
}

.btn-social {
    margin-left: 20px;
}

.btn-social a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #a168db;
    border-radius: 25px;
    font-size: 20px;
    color: #a168db;
    margin: 0 8px;
    transition: .5;
}

.btn-social a:hover {
    background-color: #a168db;
    color: #1f242d;
}

.img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-box::before, .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent,transparent, #a168db);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1f242d;
    border: .1px solid #1f242d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;

}

.img-item img {
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.bar-animation {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: -1;
}

.bars {
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    100% {
        transform: translateY(0%);
    }
}


.heading-text {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rems;
}

.heading-text span {
    color: #a168db;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
    padding: 4rem;
}

.service-box {
    padding: 3rem 2.5rem;
    background-color: #1f242d;
    border: .2rem solid #1f242d;
    border-radius: 1rem;
    transition: .5s;
}

.service-box:hover {
border: 3px solid #a168db;
transform: scale(1.02);
}

.service-box .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-box .icon i {
    font-size: 4.5rem;
    color: #fff;
    transition: .5s;
}

.service-box:hover .icon :not(a i) {
    color: #a168db;
}

.service-box .icon  a {
    display: inline-flex;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
    transition: .5s;
}

.service-box:hover .icon  a {
    background-color: #a168db;
}

.service-box .icon a i {
    font-size: 3rem;
    color: #1f242d;
    transform: rotate(225deg);
}

.service-box:hover .icon a i {
    color: #fff;
    transform: rotate(180deg);
}

.service-box h3 {
    font-size: 3rem;
    margin: .5rem 0 2rem;
    color: #fff;
    transition: .5s;
}

.service-box:hover h3 {
    color: #a168db;
}

.service-box p {
    font-size: 1.6rem;
    color: #fff;;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
    padding: 30px;
}

.resume-box h2 {
    font-size: 4.5rem;
}

.resume-box p {
    font-size: 1.6rem;
}

.resume-box .desc {
    margin: 2rem 0 2.5rem;
}

.resume-btn {
    width: 100%;
    height: 5.3rem;
    background-color: #1f242d;
    border: .2rem solid #1f242d;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
}

.resume-btn.active {
    border-color: #a168db;
    color: #a168db;
}

.resume-box .heading-text {
    text-align: left;
    font-size: 3.5rem;
}

.resume-detail {
    display: none;
}

.resume-detail.active {
    display: block;
}

.resume-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    height: 45rem;
    overflow: auto;
}

.resume-item {
    background-color: #1f242d;
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc(45rem-2rem / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.resume-item .year {
    color: #a168db;
}

.resume-item h3 {
    font-size: 2.2rem;
}

.resume-item .company {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;

}

.resume-item .company::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: #a168db;
    border-radius: 50%;
    margin-left: -2rem;

}

.resume-list::-webkit-scrollbar {
    width: .7rem;
}

.resume-list::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
}

.resume-list:hover::-webkit-scrollbar-thumb {
    background: #a168db;
}

.resume-item img {
    margin-bottom: 1rem;
}

.resume-item i {
    font-size: 4.5rem;
    transition: .5s;
}

.resume-item:hover i {
    color: #a168db;
}

.resume-detail.resume-detail.about-me .resume-list {
    height: auto;
    grid-template-columns: auto-fit minmax(25rem, 1fr);
}

.resume-detail.about-me .resume-item {
    height: auto;    
}

.resume-detail.about-me .resume-item p {
    color: #a168db;
}

.resume-detail.about-me .resume-item p span {
    color: #fff;
    margin-left: 1rem;
    font-size: 1.6rem;
}

.portfolio {
    background: #1f242d;
}

.portfolio h2 {
    color: #fff;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 60px;
}

.portfolio-detail {
    display: none;
}

.portfolio-detail.active {
    display: block;
}

.portfolio-box .numb {
    font-size: 8rem;
    -webkit-text-stroke: .07rem #fff;
    color: transparent;
    line-height: 1;
}


.portfolio-box h3 {
    font-size: 3.5rem;
    margin: .8rem 0 2rem;
    color: #fff;
}

.portfolio-box p {
    font-size: 1.6rem;
    color: #fff;

}


.portfolio-box .tech p {
    margin: 2rem 0;
    color: #a168db;
    border-bottom: .1rem solid #fff;
    padding-bottom: 2rem;

}

.portfolio-box .live-link a {
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: #fff;
    border-radius: 50%;
    background-color: #34373b;
    transition: .5s;
}

.portfolio-box .live-link a:hover {
    color: #a168db;
}

.portfolio-box .live-link a:first-child {
    margin-right: 1.5rem;
}

.portfolio-box .live-link a:first-child i { 
    transform: rotate(36deg);
   
}

.portfolio-box .live-link a span {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%) scale(.9);
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: #fff;
    color: #1f242d;
    opacity: 0;
    transition: .5s;

}

.portfolio-box .live-link a:hover span {
    top: -70%;
    opacity: 1;
    transform: translateX(-50%) scale(1);

}

.portfolio-box .portfolio-carousel {
    width: 100%;
    height: 50rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}


.portfolio-carousel .img-slide {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: .5s;
}

.portfolio-carousel .img-items {
    height: inherit;
}

.portfolio-carousel .img-items img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1rem;
}

.portfolio-box .navigation {
    text-align: center;
    margin-top: 2rem;
}

.portfolio-box .navigation button {
    display: inline-flex;
    padding: .4rem;
    background: #34373b;
    border: .2rem solid #a168db;
    font-size: 4rem;
    color: #a168db;
    cursor: pointer;
}

.portfoli0-box .navigation .arrow-right {
    margin-left: 1.5rem;
}

.portfolio-box .navigation button.disabled {
    border-color: #1f242d;
    color: #717274;
}

/* Contact Section */

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 3rem;
    padding-inline: 60px;
}

.contact-box:first-child {
    align-self: center;

}

.contact-box h2 {
    font-size: 4.5rem;
}

.contact-box form h2 {
    color: #fff;
}

.contact-box p {
    font-size: 1.6rem;
}

.contact-box .desc {
    margin: 1.5rem 0 2.5rem;
}

.contact-detail {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.contact-detail i {
    display: inline-flex;
    background: #1f242d;
    color: #a168db;
    padding: 1.2rem;
    font-size: 3rem;
    border-radius: .6rem;
    margin-right: 1.5rem;
}

.detail p {
    color: #a168db;
}


.contact-box form {
    background: #1f242d;
    padding: 2.5rem 3.5rem 3.5rem;
    border-radius: 1rem;
    text-align: center;
    margin-block: 2rem;
}

.contact-box .heading-text {
    font-size: 3.5rem;
}

.contact-box .field-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.contact-box .field-box input, .contact-box .field-box textarea {
    padding: 1.5rem;
    background: #34373b;
    border-radius: .6rem;
    font-size: 1.6rem;
    color: #fff;
}

.contact-box .field-box textarea {
    grid-column: 1/-1;
    height: 20rem;
    resize: none;
}

.contact-box .field-box input:focus, .contact-box .field-box textarea:focus {
    border: 2px solid #a168db;
}


.contact-box .btn {
    margin-top: 2rem;
    cursor: pointer;
}

footer {
    background-color: #1f242d;
  }
  
  .footer-logo .logo {
    font-size: 30px;
    font-weight: 700;

}
  
  .footer-menu{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 30px;
  
  }
  
  .footer-navigation ul {
    list-style-type: none;
    display: flex;

  
  }
  
  .footer-navigation ul li {
    padding-inline: 20px;
  
  }
  
  .footer-navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  
  .footer-copy p{
    color: #fff;
    font-size: 16px;
  }


@media screen and (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .hero-left h1 {
        font-size: 45px; 
    }


}

@media screen and (max-width: 992px) {
    header {
        /* padding: 2rem 4%; */
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .hero-left h1 {
        font-size: 40px; 
    }


    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #1f242d;
        gap: 0;
        display: none;
    }

    nav ul.active {
        display: block;
    }
}


@media screen and (max-width: 810px) {

    .contact-box .field-box {
        grid-template-columns: 1fr;
    }

    .hero-left h1 {
        font-size: 40px; 
    }

}


@media (max-width: 768px) {
    #menu-icon {
        display: block;

    } 

    nav ul {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #1f242d;
        gap: 0;
    }

    nav ul li {
        padding: 20px;  

    }

    nav ul.active {
        display: block;
    }


    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
    }

    .hero-img {
        padding-top: 30rem;
    }

    .hero-left {
        margin-bottom: 25rem;
    }

    .hero-img .img-box {
        width: 30rem;
        height: 30rem;
      
    }

    .hero-left h1 {
        font-size: 45px;
        
    }

    .hero-left h2 {
        font-size: 30px;
        
    }

    .hero-left p {
        font-size: 14px;
        
    }

    .resume-container, .portfolio-container .contact-container {
        grid-template-columns: 1fr;
    }

    .resume-container {
        gap: 3rem;
    }

    .portfolio-container  {
        order: 1;
        display: flex;
        flex-direction: column;
    }

    .contact-box .field-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-container {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: none;
    }


}

@media (max-width: 600px) {
    .hero-img .img-box {
        width: 25rem;
        height: 25rem;
    }

    .contact-box .field-box {
        grid-template-columns: 1fr;

    }
}

@media (max-width: 414px) {
    .btn-hero {
        display: flex;
        flex-direction: column;
    }

    .btn-hero .btn {
        margin-bottom: 2rem;
    }

    .hero-left h2 {
        font-size: 20px;
    }

    .hero-left h1 {
        font-size: 28px;
        margin-bottom: 2rem;
    }
    .services-container {
        padding: 0;
    }
    .portfolio-container {

        flex-direction: column-reverse;
       }
    
       .portfolio-container   {
    
        padding: 10px;
    
       }
       .contact-box {
        width: 35rem;
       padding: 10px;
       align-self: center;
     }
   

}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    .btn-hero {
        display: flex;
        flex-direction: column;
    }

    .btn-hero .btn {
        margin-bottom: 2rem;
    }

    .hero-left h2 {
        font-size: 24px;
    }

    .hero-left h1 {
        font-size: 32px;
        margin-bottom: 2rem;
    }
    .portfolio-container {

        flex-direction: column-reverse;
       }
       .portfolio-container   {

        padding: 10px;
    
       }
}

@media (max-width: 400px) {
    .hero-detail, .resume-box h2, .resume-box .heading-text, .resume-box .desc, .resume-detail.about .resume-item {
        text-align: center;
    }

    .hero-detail .btn-social {
        flex-direction: column-reverse;
    }

    .hero-detail .btn-sci .sci {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .contact-box form {
        padding:  2.5rem 3rem 3.5rem;
    }

    .contact-box h2 {
        font-size: 3.5rem;
    }

    .portfolio-container {

        flex-direction: column-reverse;
       }
}

@media (max-width: 375px) {
    .btn-hero {
        display: flex;
        flex-direction: column;
    }

    .btn-hero .btn {
        margin-bottom: 2rem;
    }

    .hero-left h2 {
        font-size: 20px;
    }

    .hero-left h1 {
        font-size: 28px;
        margin-bottom: 2rem;
    }
    .services-container {
        padding: 0;
    }
    .portfolio-container {

        flex-direction: column-reverse;
       }
    
       .portfolio-container   {
    
        padding: 10px;
    
       }
       .contact-box {
        width: 35rem;
       padding: 10px;
       align-self: center;
     }
}

@media (max-width: 320px) {
    .btn-hero {
        display: flex;
        flex-direction: column;
    }

    .btn-hero .btn {
        margin-bottom: 1rem;
    }

    .hero-left h2 {
        font-size: 18px;
    }

    .hero-left h1 {
        font-size: 24px;
        margin-bottom: 2rem;
    }

    .contact-box {
       width: 35rem;
      padding: 15px;
      align-self: center;
    }

    .services-container {
        padding: 0;
    }

   .service-box  {
     width: 90%;
   }

   .portfolio-container {

    flex-direction: column-reverse;
   }

   .portfolio-container   {

    padding: 10px;

   }

   .portfolio-box .navigation {
    text-align: center;
    margin-top: 0;
}

.contact-box form {
    padding:  2.5rem 3rem 3.5rem;
}

section {
    padding-top: 15px;
}

.contact-box form {
    padding:  2.5rem 3rem 3.5rem;
    width: 90%;
    max-width: 400px;
    margin: auto;
}

.contact-box .field-box input, .contact-box .field-box textarea {
    padding: 1rem;
    overflow: hidden;
}
   
    

    
}








